[Unit]
Description=FixMyStreet Catalyst Application Server
Documentation=https://fixmystreet.org/
After=network.target

[Service]
Type=forking
User=fms
PIDFile=/var/www/naprawiamy/naprawiamy.pid
ExecStartPre=/bin/mkdir -p /var/www/naprawiamy/logs
ExecStart=/var/www/naprawiamy/naprawiamy/script/server \
            --port 9000 \
            --env deployment \
            --daemonize \
            --pid /var/www/naprawiamy/naprawiamy.pid \
            --access-log /var/www/naprawiamy/logs/naprawiamy.access.log \
            --error-log /var/www/naprawiamy/logs/naprawiamy.error.log
ExecStop=kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
